h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
}


body{
    background-image: url(../images/grey.png);
}


 .jumbotron{
    background-image: url(../images/banner.PNG);
    background-size: 51%;
    background-repeat: no-repeat;
    background-color: #e3c16f;
    color: #546037;
    
}

#climate, #nightLife, #nearMe, #submitBtn {
    background-color: #e3c16f;
    color: #546037;
    border: 2px solid #546037;
}

.card {
    border: 1px solid #546037;
}
.card-body{
    background-color: #546037;
    color: white;
    font-family: 'Playfair Display', serif;
}

#carouselExampleControls{
    margin: 50px;
    height: 33%;
    
}
.parallax{
    float: right;
}
#globeBody{
    width: 50%;
    float: right;
    
}
.youChose{
    width: 50%;
}

.cardGlobe{
    float: right;
}



/* .background{
    background-image: url(../images/travelbackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}; */


